@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <audio id="audio_player" crossorigin="anonymous" autobuffer="autobuffer"/>
</div>
<script>
    var audioElement;
    let isPlaying = false;

    audioElement = document.getElementById("audio_player");
    
    window.play = (url) => {
        
        if(isPlaying)
        {
            audioElement.pause();
        }

        audioElement.src = url
        audioElement.load()
        audioElement.play()
        isPlaying = true;
    }

    window.pause = () => {
        audioElement.pause()
    }

    window.stop = () => {
        audioElement.pause();
    }
</script>
