.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 3px;
  height: 100vh !important;
}

.sidebar {
  grid-area: 1 / 1 / 11 / 3;
}

.content {
  grid-area: 1 / 3 / 11 / 13;
}

.player {
  grid-area: 11 / 1 / 13 / 13;
}

.max-height {
  height: 100% !important;
}