<div class="row">
    <div class="col-10">
        <input disabled="@(!_ready)" class="form-control" @bind-value="Query" placeholder="Search song...."/>
    </div>
    <div class="col-2 text-center">
        <button disabled="@(!_ready)" @onclick="(() => SearchEventCallBack.InvokeAsync(Query))">
            <span class="oi oi-magnifying-glass"></span>
        </button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<string> SearchEventCallBack { get; set; }

    private string Query { get; set; } = string.Empty;

    private bool _ready = false;

    protected override void OnParametersSet()
    {
        _ready = true;
    }

    private async void InvokeCallBack()
    {
        if (string.IsNullOrEmpty(Query))
        {
            // No need to search an empty string
            return;
        }
        await SearchEventCallBack.InvokeAsync(Query);
    }
}
