<h3>MyMusic Search</h3>


    <EditForm Model="@Model" OnSubmit="@SearchAsync">
        <div>
            <span>Url</span>
            <InputText @bind-Value="Model!.Query" />
        </div>
        <button type="submit">Search</button>
    </EditForm>

<div id="wrapper">
    @if (Result is not null)
    {
        <div id="first">
            @foreach (var result in Result)
            {
                <SearchResult Model="result"></SearchResult>
            }
        </div>
        <div id="second">
            Progresssss
        </div>
    }
</div>
    <style>
    #wrapper {
        width: 100%;
        border: 1px solid black;
        overflow: hidden; /* will contain if #first is longer than #second */
    }

    #first {
        width: 50%;
        float: left; /* add this */
    }

    #second {
        overflow: hidden; /* if you don't want #second to wrap below #first */
    }
    </style>