<div>
    <h3>MyMusic Search</h3>


    <EditForm Model="@Model" OnSubmit="@SearchAsync">
        <div>
            <span>Url</span>
            <InputText @bind-Value="Model!.Query" />
        </div>
        <button type="submit">Search</button>
    </EditForm>
</div>
