<div class="layout rounded-2 rounded-bottom border-5 border-bottom">
    <div class="header">&nbsp;</div>
    <div class="image"> <img class="img-fluid" src="@Model.CoverUrl" alt="404" /> </div>
    <div class="content">
        <div class="row">
            <div class="col-12 text-center">
                @Model.Name
            </div>
            <div class="col-12 text-center mt-4">
                <button class="btn-lg w-75 m-auto btn btn-primary">Download</button>
            </div>
        </div>
    </div>
    <div class="footer text-center m-auto">@Model.Durration</div>
</div>