<RadzenRow>
  <!--Left side--> 
  <RadzenColumn Size="3">
      <RadzenRow>
          <RadzenColumn Size="4">
              <!--Image/Coverurl-->
              <img class="img-thumbnail" src="https://picsum.photos/75" alt="404" />
          </RadzenColumn>
          <RadzenColumn Size="8">
              <!--Details-->
              <h4><b>Title</b></h4>
              <span>Artist ft X colab, bingo</span>
          </RadzenColumn>
      </RadzenRow>
  </RadzenColumn>
  <!---->
  
  <!--Center-->
  <RadzenColumn Size="6">
      <RadzenStack Orientation="Orientation.Vertical">
          <!--Audio controls-->
          <div>
              <RadzenRow>
                  <RadzenColumn Size="1">
                      &nbsp;
                  </RadzenColumn>
                  <RadzenColumn Size="2" class="text-center">
                      <RadzenButton Icon="shuffle" ButtonStyle="ButtonStyle.Dark" />
                  </RadzenColumn>
                  <RadzenColumn Size="2" class="text-center">
                      <RadzenButton Icon="skip_previous" ButtonStyle="ButtonStyle.Dark"/>
                  </RadzenColumn>
                  <RadzenColumn Size="2" class="text-center">
                      <RadzenButton Size="ButtonSize.Large" Icon="play_circle" ButtonStyle="ButtonStyle.Dark" />
                  </RadzenColumn>
                  <RadzenColumn Size="2" class="text-center">
                      <RadzenButton Icon="skip_next" ButtonStyle="ButtonStyle.Dark" />
                  </RadzenColumn>
                  <RadzenColumn Size="2" class="text-center">
                      <RadzenButton Icon="repeat" ButtonStyle="ButtonStyle.Dark" />
                  </RadzenColumn>
                  <RadzenColumn Size="1">
                      &nbsp;
                  </RadzenColumn>
              </RadzenRow>
          </div>

          <!--Audio lenght-->
          <div>
            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenSlider class="w-100" @bind-Value=@DurationInSeconds TValue="float"></RadzenSlider>
                </RadzenColumn>
            </RadzenRow>
          </div>
      </RadzenStack>
  </RadzenColumn>
  <!---->
  
  <!--Right side-->
  <RadzenColumn Size="3">
      <RadzenRow class="mt-4">
          <RadzenColumn Size="2">
              <RadzenIcon Icon="volume_up" style="font-size:26px"/>
          </RadzenColumn>
          <RadzenColumn Size="10">
              <RadzenSlider class="w-100" TValue="int"></RadzenSlider>
          </RadzenColumn>
      </RadzenRow>
  </RadzenColumn>
  <!---->
</RadzenRow>


@* <audio id="audio_player" type="audio/mpeg" /> *@
<script>
  // var audioElement;
  //var playerComponentReference;

  // audioElement = document.getElementById("audio_player");
  // audioElement.addEventListener("seeking", (event) => {
  //   console.log("Audio is seeking a new position.");
  //   // ?
  // });

  // window.setCurrentTime = (value) => {
  //     audioElement.currentTime = parseFloat(value);
  // }

  // window.setVolumne = (value) => {
  //     audioElement.volume = value
  // }

  // window.setPlayerComponentReference = async (reference) => { 
  //   playerComponentReference = reference;
  // }

  // window.setCoverUrl = (url) => {
  //   document.getElementById('cover_src').src = url;
  // }

  // window.playOrPause = () => {
  //   if (!audioElement.paused) {
  //     audioElement.pause();
  //   }
  //   else {
  //     audioElement.play();
  //   }
  // }

  // window.play = (url) => {

  //   if (!audioElement.paused) {
  //     audioElement.pause();
  //   }

  //   audioElement.src = url
  //   audioElement.load()
  //   audioElement.play()
  // }

  // window.pause = () => {
  //   audioElement.pause()
  // }

  // window.stop = () => {
  //   audioElement.pause();
  // }

  // audioElement.addEventListener('play', function () {
  //   //console.log('Audio started playing');
  // });

  // audioElement.addEventListener('pause', function () {
  //   //console.log('Audio paused');
  // });

  // audioElement.addEventListener('ended', function () {
  //   //console.log('Audio ended');
  // });

  // audioElement.addEventListener('timeupdate', function () {
  //   console.log('Current time: ' + audioElement.currentTime);
  //   playerComponentReference.invokeMethodAsync("SetCurrentTime", audioElement.currentTime)
  // });
  // // RECOGNIZING: Text = 1 / 2, Timestamp = 6640000
  // // RECOGNIZING: Text = 123, Timestamp = 6440000
  // // RECOGNIZING: Text = 1234, Timestamp = 6440000
  // // RECOGNIZING: Text = 123452, Timestamp = 6440000
  // // RECOGNIZED: Text = 1234., Timestamp = 6440000
  // audioElement.addEventListener('loadedmetadata', function () {
  //   //console.log('Duration: ' + audioElement.duration + ' seconds');
  //   playerComponentReference.invokeMethodAsync("SetDurations", audioElement.duration)
  // });

  // audioElement.addEventListener('error', function (e) {
  //   console.error('Error occurred: ' + e.message);
  // });
</script>
