<h3>Songs (@songDemos.Count())</h3>

<div class="h-50" style="overflow-y: scroll">
  <RadzenDataGrid Data="@songDemos">
    <Columns>
      <RadzenDataGridColumn Title="Action's" Width="15px">
          <Template Context="data">
          <RadzenButton ButtonStyle="ButtonStyle.Dark" Icon="play_arrow" IconColor="green"></RadzenButton>
          </Template>
      </RadzenDataGridColumn>
      @* <RadzenDataGridColumn Property="Serial" Title="Serial"></RadzenDataGridColumn> *@
      <RadzenDataGridColumn Property="Name" Title="Name" Width="40px" TextAlign="TextAlign.Center"></RadzenDataGridColumn>
      <RadzenDataGridColumn Property="Description" Title="Description" Width="60px"></RadzenDataGridColumn>
      <RadzenDataGridColumn Property="Durration" Title="Durration" Width="25px"></RadzenDataGridColumn>
    </Columns>
  </RadzenDataGrid>
</div>