@page "/local"
@attribute [NavigationInfo("oi-folder","LOCAL",3)]
@using static MyMusic.Player.Storage.Constants
@inject LocalDatabase localDb
<div class="container">
    @if (LocalModels is not null)
    {
        foreach (var model in LocalModels)
        {
            <div>@model.Name || @model.TrackingId</div>
        }
    }
</div>
@code {
    private IEnumerable<MusicReference> LocalModels { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LocalModels = await localDb.GetAllMusicsAsync();
    }
}
