@page "/logs"

@attribute [NavigationInfo("oi-home","LOGS")]

<div>
    @if (Logs is not null)
    {
        <div class="row"> 

            @foreach(var log in Logs)
            {
                <div class="col-12">
                    <div><b>@log.Message</b></div>
                    <div>@log.StackTrace</div>
                    <div>@log.Created</div>
                </div>
            }

        </div>
    }
</div>
