@page "/search"
@page "/search/{SearchQuery?}"

@if (Model != null)
{
  <RadzenRow>
    @foreach (var model in Model.items)
    {
      <RadzenColumn Size="2">
        <RadzenStack Orientation="Orientation.Vertical">
          <RadzenCard>
            <RadzenImage class="img-fluid img-thumbnail" Path="@model.snippet.thumbnails.FirstOrDefault().url" />
            <br />
                <span><b>@model.snippet.title</b></span>
            <br />
            <RadzenButton class="w-100" Text="@model.snippet.duration.ConvertIntToStringTime()" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Info" Icon="cloud_download" />
          </RadzenCard>
        </RadzenStack>
      </RadzenColumn>
    }
  </RadzenRow>
}
else
{
  <div class="w-100 h-100">
      <RadzenProgressBarCircular class="m-auto mt-5" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
          <Template>Searching</Template>
      </RadzenProgressBarCircular>
  </div>
}