@page "/search"
@page "/search/{SearchQuery?}"

@if (Model is not null && Model.items is not null && !_searching)
{
    @if (!string.IsNullOrEmpty(NextPageToken))
    {
        <div class="w-100 text-center mb-1">
            <RadzenButton ButtonStyle="ButtonStyle.Info" Click="async () => await SearchAsync()">
                Next results
                <RadzenIcon Icon="navigate_next" />
            </RadzenButton>
        </div>
    }
    <RadzenRow>
        @foreach (var model in Model.items)
        {
            <RadzenColumn Size="2">
                <SearchCardComponent Model="model" 
                    YoutubeSearchService="YoutubeSearchService" 
                    LogWriterService="LogWriterService" 
                    ArtistReaderService="ArtistReaderService"
                    ArtistWriterService="ArtistWriterService"
                    SongStatusWriterService="SongStatusWriterService"
                    SongWriterService="SongWriterService"/>
            </RadzenColumn>
        }
    </RadzenRow>
    @if (!string.IsNullOrEmpty(NextPageToken))
    {
        <div class="w-100 text-center mt-1">
            <RadzenButton ButtonStyle="ButtonStyle.Info" Click="async () => await SearchAsync()">
                Next results
                <RadzenIcon Icon="navigate_next" />
            </RadzenButton>
        </div>
    }
}
else if (_searching)
{
    <div class="w-100 h-100">
        <RadzenProgressBarCircular class="m-auto mt-5" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
            <Template>Searching</Template>
        </RadzenProgressBarCircular>
    </div>
}
else
{
    <div class="w-100 h-100 mt-5 text-center">
        <b>Find the next best song.....</b>
    </div>
}