@page "/songs"
@attribute [NavigationInfo("oi-musical-note", "SONGS", 1)]
@inject ApiService api
@inject LocalDatabase localDb

<div class="container">
    @if (Models is not null && Models.Any())
    {
        <div class="row">
            @foreach (var model in Models)
            {
               <div class="col-6 mb-2">
                    <MusicComponent Model="model" BaseUrl="@BaseUrl" />
               </div>
            }
        </div>
    }
</div>

@code {
  private List<MusicReference> Models { get; set; }
  private string BaseUrl { get; set; }

  protected override async Task OnInitializedAsync()
  {
    BaseUrl = await localDb.GetBaseApiUrlAsync();

    var _models = await localDb.GetAllMusicsAsync();

    Models = _models.ToList();

    StateHasChanged();
   }

}
